* {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  window#waybar {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    transition-property: background-color;
    transition-duration: 0.5s;
  }

  button {
    border: none;
    border-radius: 0;
  }

  button:hover {
    background: inherit;
  }

  #workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: @theme_text_color;
    border-radius: 5px;
  }

  #workspaces button:hover {
    background: @theme_selected_bg_color;
  }

  #workspaces button.active {
    background-color: @theme_selected_bg_color;
  }

  #workspaces button.urgent {
    background-color: #eb4d4b;
  }

  #clock,
  #battery,
  #cpu,
  #memory,
  #backlight,
  #network,
  #pulseaudio,
  #custom-media,
  #tray,
  #custom-power,
  #bluetooth,
  #power-profiles-daemon {
    padding: 5px 15px;
    color: @theme_text_color;
    background-color: @theme_unfocused_bg_color;
    border-radius: 20px;
    margin: 0 5px;
  }

  #window,
  #workspaces {
    margin: 0 4px;
  }

  .modules-left > widget:first-child > #workspaces {
    margin-left: 0;
  }

  .modules-right > widget:last-child > #workspaces {
    margin-right: 0;
  }

  #custom-power {
    background-color: #ed333b;
    border-radius: 20px 0 0 20px;
    transition: all 250ms ease-in-out;
  }

  #battery.charging {
    color: #00ff1c;
  }

  #clock {
    border-radius: 20px;
    margin: 0 5px;
  }

  #pulseaudio.muted {
    color: orange;
  }

  #network.disconnected {
    color: red;
  }

  #tray {
    border-radius: 20px;
    margin: 0 5px;
  }

  #bluetooth {
    border-radius: 20px;
    margin: 0 5px;
  }
